.login,.signup {
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: rgb(245, 245, 245);
}

.homeButtons {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.btn1 {
    margin-left: 1em;
    font-size: large;
}

.welcome-section,.pitchCard, .user-comments {
    padding: 1em;
    border-radius: 1em;
    background: #ebebeb;
    box-shadow:  20px 20px 60px #c8c8c8,
             -20px -20px 60px #ffffff;
}

.pitch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.votes {
    display: flex;
}

.pitchCard {
    border-radius: 0.5em;
}

.downvote {
    margin-left: 0.3em;
}

.commentTitle {
    background: rgb(219, 219, 219);
}

.user-comments {
    min-height: 85vh;
}

.comment-form {
    padding-top: 1em;
    border: 1px solid black;
    border-radius: 0.3em;
    max-height: 30vh;
}




